<footer>
  <div class="container">
    <div class="row"*ngIf="payload | async as photo">
    
    <div class="col-sm">
      <span class="date">{{photo.date | date: 'MM/dd/yyy'}}</span>
    </div>

      <div class="col-sm"><mat-form-field>
        <input matInput [matDatepicker]="myDatePicker" [formControl]="date" [min]="minDate" [max]="todayDate">
        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker startView="multi-year"></mat-datepicker>
      </mat-form-field></div>
        
    </div>
    </div>
</footer>