

footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%; /* Height of the footer */
  background: rgb(0, 7, 10);
  justify-content: center;
  justify-content: center;
  align-items: center;
  border-top: black;
  padding: 0.5rem 1rem; 
  height: 65px;
  margin: 0px;
  /* width: auto; */
}
span {
  color: white;
}

.date{
  color:rgb(232, 165, 78);
  font-size: 1.7rem;
  font-weight: 500;
}
