
<div class="container-fluid">

    <div class="row" >
      <div class="col-12 px-0" *ngIf="payload | async as photo">
        <img *ngIf="photo?.media_type === 'image'" class="img-thumbnail" [src] = "photo.hdurl">
         <div class="videoWrapper" *ngIf="photo?.media_type === 'video'">
          <iframe
          class="embed-responsive-item"
          width="560"
          height="349"
          [src]="videoUrl"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen = "true"
          style="--aspect-ratio: 3 / 4;"
      ></iframe>
         </div>
      </div>
    </div>  
  </div>

  <div class="card">
    <div class="card-body" *ngIf="payload | async as photo">
      {{photo?.explanation}}
    </div>
  </div>

<!-- <pre>{{ payload | json }}</pre> -->

    

