
<div class="container-fluid">

    <div class="row" >
      <div class="col-12 px-0" *ngIf="payload | async as photo">
        <img *ngIf="photo?.media_type === 'image'" class="img-thumbnail" [src] = "photo.url">
         <div *ngIf="photo?.media_type === 'video'">
          <!-- <video-embed class="embed-responsive-item" [key]="key" [site]="site" allowfullscreen></video-embed> -->
          <iframe
          class="embed-responsive-item"
          width="100%"
          height="315px"
          [src]="videoUrl"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen = "true"
      ></iframe>
         </div>
        <video *ngIf="photo?.media_type === 'video'" [src]="photo?.url"></video>
      </div>
    </div>  
  </div>

  <div class="card">
    <div class="card-body" *ngIf="payload | async as photo">
      {{photo?.explanation}}
    </div>
  </div>

<!-- <pre>{{ payload | json }}</pre> -->

    

